<div class="productos">
	<div class="page-title row">
		<h2 class="col-5">Productos</h2>
	</div>
	<div class="products row">
		<ul class="col-6">
			<li *ngFor="let producto of productos" class="row producto-display">
				<app-producto-display [producto]='producto' class="col-12 card" (click)="setUpdateProducto(producto)"></app-producto-display>
			</li>
		</ul>	
		<ul class="col-4 offset-1">
			<app-producto-agregar (agregarProducto)="agregarProducto($event)" (editarProducto)="editarProducto($event)" [producto]='updateProducto'></app-producto-agregar>
		</ul>
	</div>
</div>
